/* Layout */

.cart-title {
  margin-left: var(--spacing-48);
}

#cart-wrapper {
  background-color: var(--section-background);
  border: 2px solid var(--border-color);
  padding: var(--spacing-48);
  margin: var(--spacing-24) var(--spacing-48);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

/* Cart items */

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: var(--spacing-16);
  border-bottom: 2px solid var(--border-color);
}

.cart-item-title {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
}

.cart-item img {
  width: 80px;
  height: 80px;
  box-shadow: var(--shadow-medium);
}
.qty-wrapper {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-8);
}

/* Buttons */

.cart-buttons {
  display: flex;
  gap: var(--spacing-24);
}

.checkout-button,
.clear-button {
  padding: var(--padding-button);
  background-color: var(--button-color);
}

/* Mobile screens */

@media (max-width: 650px) {
  main {
    margin-top: 80px; /* just to bump h1 down below the navbar */
  }
}
