/* Layout */

.cart-title {
  margin-left: var(--spacing-48);
  font-size: var(--font-size-h1);
  text-transform: uppercase;
  letter-spacing: 5%;
}

#cart-wrapper {
  background-color: var(--section-background);
  border: 2px solid var(--border-color);
  padding: var(--spacing-48);
  margin: var(--spacing-24) var(--spacing-48);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

/* Cart items */

.cart-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
  align-items: center;
  padding-bottom: var(--spacing-16);
  border-bottom: 2px solid var(--border-color);
}

.cart-item-title {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
}

.cart-item img {
  width: 80px;
  height: 80px;
  box-shadow: var(--shadow-medium);
}
.qty-wrapper {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-8);
}

/* Buttons */

.cart-buttons {
  display: flex;
  gap: var(--spacing-24);
}

.checkout-button,
.clear-button {
  padding: var(--padding-button);
  border-radius: 999px;
}

.checkout-button {
  background-color: var(--primary-text);

  color: white;
}

.clear-button {
  background-color: transparent;
  color: #c94b4b;
  border: 1px solid #c94b4b;
}

.clear-button:hover,
.clear-button:focus-visible {
  background-color: #c94b4b;
  color: white;
  box-shadow: var(--shadow-medium);
  scale: 102%;
}

.checkout-button:hover,
.checkout-button:focus {
  background-color: var(--section-background);
  box-shadow: var(--shadow-medium);
  scale: 102%;
  color: black;
  border: none;
  border: 2px solid var(--border-color);
}

.qty-wrapper {
  display: flex;
  align-items: center;
}

.fa-solid.fa-plus,
.fa-solid.fa-minus {
  font-size: 0.8rem;
  border-radius: 4px;
  background-color: var(--secondary-text);
  padding: 3px;
  color: white;
}

/* Hiding span in quantity increase and decrease buttons, accessibility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Total price */

.total-sum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 150px;
  border: 2px solid var(--border-color);
  background-color: var(--primary-background);
  padding: 5px 8px;
  border-radius: 5px;
}

/* Mobile screens */

@media (max-width: 650px) {
  main {
    margin-top: 80px; /* just to bump h1 down below the navbar */
  }
  .cart-title {
    margin-left: var(--spacing-16);
  }

  #cart-wrapper {
    background-color: var(--section-background);
    border: 2px solid var(--border-color);
    padding: var(--spacing-16);
    margin: 24px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
  }

  .cart-item {
    gap: var(--spacing-16);
    align-items: center;
  }

  .cart-item p,
  .cart-item h2 {
    font-size: 0.9rem;
  }
}

@media (max-width: 450px) {
  .cart-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cart-item img {
    width: 50px;
    height: 50px;
  }
}
