/* Layout */

.checkout-title {
  margin-left: var(--spacing-48);
}

.checkout-form {
  background-color: var(--section-background);
  border: 2px solid var(--border-color);
  padding: var(--spacing-48);
}

.checkout-form__userinfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.checkout-form__userinfo label,
.checkout__section label {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}
.checkout-form input {
  max-width: 250px;
  height: 35px;
  border-radius: 5px;
  background-color: var(--primary-background);
  border: 2px solid var(--border-color);
  padding-left: var(--spacing-8);
}

.checkout-form select {
  max-width: 250px;
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: var(--primary-background);
  border: 2px solid var(--border-color);
  font-size: 0.95rem;
  cursor: pointer;
}

.checkout-form input:focus,
.checkout-form select:focus {
  border: 2px solid var(--input-focus-border);
  outline: none;
}

/* Error states */

.error-msg {
  display: none;
  color: var(--input-error-border);
  font-size: 0.8rem;
}

.checkout-form input.input-error,
.checkout-form select.input-error {
  background-color: var(--input-error-bg) !important;
  border: 2px solid var(--input-error-border) !important;
}

.checkout-error {
  display: none;
  margin-left: 48px;
}
