/* Layout */
.checkout {
  display: grid;
  background-color: var(--section-background);
  border: 2px solid var(--border-color);
  grid-template-columns: 2fr 1fr;
}

.checkout-title {
  margin-left: var(--spacing-48);
}

.checkout-form {
  padding: var(--spacing-48);
}

.checkout-form__userinfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.checkout-form__userinfo label,
.payment-section label {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}
.checkout-form input {
  max-width: 250px;
  height: 35px;
  border-radius: 5px;
  background-color: var(--primary-background);
  border: 2px solid var(--border-color);
  padding-left: var(--spacing-8);
}

.input-date,
.input-cvv {
  width: 100px;
}

.checkout-form select {
  max-width: 250px;
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: var(--primary-background);
  border: 2px solid var(--border-color);
  font-size: 0.95rem;
  cursor: pointer;
}

.checkout-form input:focus,
.checkout-form select:focus {
  border: 2px solid var(--input-focus-border);
  outline: none;
}

.payment-section {
  margin-top: var(--spacing-48);
}

/* Font sizes */

.checkout h2 {
  font-size: var(--font-size-h2);
}

.checkout-form h2 {
  margin-bottom: var(--spacing-16);
}

/* Error states */

.error-msg {
  display: none;
  color: var(--input-error-border);
  font-size: 0.8rem;
}

.checkout-form input.input-error,
.checkout-form select.input-error {
  background-color: var(--input-error-bg) !important;
  border: 2px solid var(--input-error-border) !important;
}

.checkout-error {
  display: none;
  margin-left: 48px;
  background-color: var(--input-error-bg);
  color: #c62828;
  border: 1px solid var(--input-error-border);
  padding: var(--spacing-16);
  border-radius: 5px;
  margin: var(--spacing-24) var(--spacing-48);
  font-size: 0.9rem;
  box-shadow: var(--shadow-light);
}

/* Cart */
.checkout-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--spacing-48);
  gap: var(--spacing-24);
}

.checkout-cart__image {
  width: 80px;
  height: 80px;
  box-shadow: var(--shadow-medium);
}

.checkout-summary {
  margin-top: var(--spacing-48);
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.checkout-total {
  margin: var(--spacing-48) 0;
  font-weight: 600;
}

.item-wrapper {
  display: flex;
  gap: var(--spacing-24);
  padding-bottom: var(--spacing-16);
  border-bottom: 2px solid var(--border-color);
}

.item-wrapper p {
  font-size: 0.9rem;
  padding: 4px;
}

/* Button */

.checkout-btn {
  margin-top: var(--spacing-48);
  padding: var(--padding-button);
  border-radius: 999px;
  background-color: var(--button-color);
  color: white;
}

.checkout-btn:hover,
.checkout-btn:focus {
  background-color: var(--section-background);
  box-shadow: var(--shadow-medium);
  scale: 102%;
  color: black;
  border: none;
  border: 2px solid var(--border-color);
}

@media (max-width: 650px) {
  main {
    margin-top: 80px; /* just to bump h1 down below the navbar */
  }
  .checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
