@import url(./variables.css);

.logo-text {
  text-align: center;
  font-size: 36px;
  letter-spacing: 20%;
  margin-bottom: 48px;
}

/* Image Carousel */

.carousel-container {
  position: relative;
  max-width: 600px;
  max-height: 450px;
  margin: 0 auto;
  overflow: hidden;
}

#slider {
  display: flex;
  transition: transform 0.7s ease;
}

#slider img {
  width: 100%;
  flex: 0 0 100%;
  object-fit: cover;
}

.carousel-controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.prev-btn,
.next-btn {
  color: var(--primary-background);
  font-size: 2rem;
  margin: 2rem;
  cursor: pointer;
}

.buy-btn {
  padding: 10px 40px;
  background-color: #b8a36a;
  color: white;
  margin-bottom: 32px;
}

/* Product Images */

.product-images {
  width: 200px;
  height: 220px;
}

.product-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Products */

.collection-heading {
  margin-top: var(--spacing-48);
  margin-bottom: var(--spacing-48);
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  background-color: var(--section-background);
  padding: var(--spacing-24);
  border: 2px solid var(--border-color);
}

.products-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
