.logo-text {
  text-align: center;
  font-size: 36px;
  letter-spacing: 20%;
  margin-bottom: 48px;
}

/* Image Carousel */

.carousel-container {
  position: relative;
  max-width: 600px;
  max-height: 450px;
  margin: 0 auto;
  overflow: hidden;
}

#slider {
  display: flex;
  transition: transform 0.7s ease;
}

#slider img {
  width: 100%;
  flex: 0 0 100%;
  object-fit: cover;
}

/* Image carousel Buttons */

.carousel-controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.prev-btn,
.next-btn {
  color: var(--primary-background);
  font-size: 2rem;
  margin: 2rem;
  cursor: pointer;
}

.buy-btn {
  background-color: var(--button-color);
  padding: var(--padding-button);
  max-width: 250px;
  border-radius: 999px;
  color: white;
  margin-bottom: 32px;
  border-radius: 999px;
}

.buy-btn:hover,
.buy-btn:focus {
  background-color: var(--section-background);
  box-shadow: var(--shadow-medium);
  scale: 103%;
  border: none;
  border: 2px solid var(--border-color);
  color: black;
}

/* Product images */

.product-images {
  width: 200px;
  height: 220px;
}

/* Products */

.collection-heading {
  margin-top: var(--spacing-48);
  margin-bottom: var(--spacing-48);
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  gap: var(--spacing-24);
  background-color: var(--section-background);
  padding: var(--spacing-24);
  border: 2px solid var(--border-color);
}

.products-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--primary-text);
  text-align: center;
  box-shadow: var(--shadow-light);
}

.products-card:hover,
.products-card:focus {
  scale: 103%;
  box-shadow: var(--shadow-medium);
}

.product-title {
  font-size: 0.9rem;
  font-weight: var(--font-weight-light);
  margin-top: 5px;
}

.product-price {
  font-size: 0.85rem;
  font-weight: var(--font-weight-semibold);
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .products {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (max-width: 750px) {
  .products {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (max-width: 450px) {
  .products {
    grid-template-columns: repeat(1, 200px);
  }
}
