/* Layout */

.confirmation-box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
  background-color: var(--section-background);
  padding: var(--spacing-24);
  border: 2px solid var(--border-color);
  box-shadow: var(--shadow-medium);
}

/* Typography */

.confirmation-box h1 {
  font-family: var(--font-family-body);
  font-size: 34px;
  font-weight: var(--font-weight-semibold);
  letter-spacing: 20%;
  padding-top: var(--spacing-8);
}

/* Logo */

.success-logo {
  width: 90px;
}

/* Button */

.home-btn {
  max-width: 250px;
  display: block;
  margin: 48px auto 0;
  text-align: center;
}

/* Smaller screens */

@media (max-width: 650px) {
  .confirmation-box {
    margin-top: 120px;
    max-width: fit-content;
  }
}
