footer {
  background-color: var(--section-background);
  border-top: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

footer p {
  text-align: center;
  font-weight: 200;
  font-size: 0.9rem;
  cursor: default;
}

.footer-logo {
  max-width: 50px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-links a:hover {
  color: var(--nav-hover);
}

.footer-links a:focus {
  color: var(--nav-hover);
}

.social-media-icons {
  display: flex;
  gap: var(--spacing-16);
}

@media (max-width: 650px) {
  .footer-links {
    flex-direction: column;
    gap: var(--spacing-24);
  }

  .social-media-icons {
    gap: 16px;
    margin-bottom: var(--spacing-24);
  }
}
