/* Navigation Desktop*/

.nav-logo {
  max-width: 90px;
}

.nav-links {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-right: 38px;
}

.nav-links li:nth-child(5) {
  margin-left: auto;
}

.fa-circle-user,
.fa-cart-shopping {
  margin-right: 8px;
}

.nav-links a:hover {
  color: var(--nav-hover);
}

.nav-links i {
  color: var(--primary-text);
}

.nav-mobile {
  display: none;
}
/* Overlay on mobile */

.nav-overlay {
  display: none;
  width: 100%;
  position: absolute;
  top: 52px;
  z-index: 1000;
  position: sticky; /* Fine tune or remove */

  /* Glass-effect */
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);

  /* border-top: 1px solid rgba(255, 255, 255, 0.3); */
  box-shadow: var(--shadow-medium);

  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 16px 0;
  gap: 12px;
  border-radius: 0 0 5px 5px;
}

.nav-overlay a {
  display: block;
  padding: 8px 0;
}

.active-page-mobile {
  color: var(--nav-hover);
  /* background-color: rgba(255, 255, 255, 0.3); Fine tune or remove */
}

@media (max-width: 650px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-16);
    position: fixed; /* Fine tune or remove */
    top: 0; /* Fine tune or remove */
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--primary-background);
  }
}
