/* Navigation Desktop*/

.nav-logo {
  max-width: 90px;
}

.nav-links {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-right: 38px;
}

.nav-links li:nth-child(5) {
  margin-left: auto;
}

.fa-circle-user,
.fa-cart-shopping {
  margin-right: 8px;
}

.nav-links a:hover {
  color: var(--nav-hover);
}

.nav-links i {
  color: var(--primary-text);
}

.nav-mobile {
  display: none;
}

@media (max-width: 650px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-24);
  }
}
